.dialog{
    animation: zoomIn 0.3s forwards;
}
.isClose {
    animation: zoomOut 0.3s forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
